* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background: #F5E6D3;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  color: #333; 
  font-family: 'Inter', sans-serif;
  display: flex; 
    flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem; 
  background: white; 
  position: sticky; 
  top: 0; 
  z-index: 100; 
}
.icono {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo {
  display: flex; 
  align-items: center;
  gap: 0.5rem;
}
header .logo img {
  height: 36px;
}
header .logo span {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

header .icono img {
  width: 28px;
}
header nav {
  display: none; 
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
}
header nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  transition: color 0.3s;
}
header nav a:hover {
  color: #A0522D;
}

/* FOOTER */
footer {
  background: #fff;
  color: #333;
  font-size: 0.9rem;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 5rem ;
}
.footer-col h4, .footer-col h4 {
  color: #A0522D;
  margin-bottom: 0.5rem;
  font-family: 'Playfair Display', serif;
}
.footer-logo {
  text-align: center;
}
.footer-logo img {
  width: 90px;
  margin-bottom: 0.5rem;
}
.footer-logo p {
  color: #555;
  font-size: 0.85rem;
}
.footer-contact a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}
.footer-contact a:hover {
  color: #A0522D;
}
.footer-map iframe {
  width: 100%;
  height: 180px;
  border: none;
  border-radius: 8px;
  margin-bottom: 0.8rem;
}
.footer-bottom {
  text-align: center;
  padding: 1rem;
  background: #F5E6D3;
  font-size: 0.8rem;
  font-weight: bold;
  border-top: 1px solid rgba(255,255,255,0.3);
  color: #A0522D;
}

@media (min-width: 768px) {
  header nav {
    display: flex;
    position: static;
    flex-direction: row;
    background: transparent;
    width: auto;
  }
  header nav a {
    border: none;
    margin: 0 1rem;
  }
  header nav a:hover {
    background: transparent;
    color: #A0522D;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-col {
    flex: 1;
  }
}